{% extends 'mds_service/base.html' %}
{% load static %}
{% block content %}
<div class="container marketing">
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Добро пожаловать на официальный сайт
                многопрофильной клиники MDS-Service!
            </h2>М
            <p class="lead">— MDS-Service - частная диагностическая медицинская клиника.
                Основной принцип нашей деятельности будет определяться следующим девизом – «Интересы пациентов превыше всего»!
                Мы готовы приложить все усилия для охраны Вашего здоровья!</p>
            <p>Уважаемые пациенты!
                <br>
                Ваше здоровье — главный приоритет деятельности нашего медицинского центра.
                Команда высококвалифицированных специалистов готова оказать медицинскую помощь жителям нашего региона
                с искренней заботой, внимательным и доброжелательным отношением к своему делу.
                <br>
                На нашем сайте Вы сможете найти полную информацию об интересующих Вас медицинских услугах, специалистах нашего медцентра,
                а также сможете ознакомиться с полезной информацией по актуальным вопросам на сегодняшний день.
            </p>

        </div>
        <div class="col-md-5">
            <img src="{% static 'base_photo/врачи.png' %}" class="img-fluid" alt="...">
        </div>
    </div>

    <hr class="featurette-divider">

</div>
{% endblock %}