{% extends 'mds_service/base.html' %}
{% block content %}
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Call-центр
            </h2>
            <br>
            <p class="lead">+7 (343) 140 0050</p>
            <p class="lead">+7 (912) 225 4343</p>
            <h2 class="featurette-heading fw-normal lh-1">Адрес
            </h2>
            <br>
            <p class="lead">620067, г. Екатеринбург, ул Студенческая, дом 2</p>
        </div>
    </div>

</div>
{% endblock %}