{% extends 'mds_service/home.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<div class="container my-5">
    <div class="text-center">
        <h1 class="fw-normal">ПРАЙС УСЛУГ</h1>
    </div>
</div>
<hr>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img width="300" height="300" src="{% static 'base_photo/assay.png' %}" class="rounded" alt="...">
            <h2 class="fw-normal">АНАЛИЗЫ</h2>
            <p>В лаборатории клиники “MDS-Service” можно сдать клинические, биохимические,
                иммунологические и многие другие анализы крови, мочи, пройти бактериологическое обследование.
            </p>
        </div>
        <div class="col-lg-4">
            <img width="300" height="300" src="{% static 'base_photo/uzi.png' %}" class="rounded" alt="...">
            <h2 class="fw-normal">УЗИ</h2>
            <p>УЗИ - главный помощник в диагностике большинства заболеваний.
            </p>
        </div>
        <div class="col-lg-4">
            <img width="300" height="300" src="{% static 'base_photo/mrt.png' %}" class="rounded" alt="...">
            <h2 class="fw-normal">МРТ</h2>
            <p>С помощью МР-диагностики можно успешно выявить большое количество заболеваний.
                Это различные воспалительные процессы и опухоли, нарушения в нервной и кровеносной системах,
                болезни позвоночника и суставов.
            </p>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="container col-6">
    </div>
    <div class="container col-6">
        <div class="container text-center">
            <div class="d-grid gap-5 col-6 mx-auto">
                <button class="btn btn-primary" type="button"><a class="btn btn btn-primary"
                                                                 href="{% url 'mds_service:create_appointment' %}"
                                                                 role="button"
                                                                 type="submit">Записаться</a></button>
            </div>
        </div>
    </div>
    <div class="container col-12">
    </div>
    {% endif %}

</div>

<hr class="featurette-divider">
<div class="container mt-3">
    <table class="table table-bordered">
        <colgroup>
            <col style="width: 70%;">
            <col style="width: 15%;">
            <col style="width: 15%;">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">Анализы</th>
            <th scope="col">Артикул</th>
            <th scope="col">Цена</th>
        </tr>
        </thead>

        <tbody>
        {% for service in object_list %}
        {% if service.direction_id == 3 %}
        <tr>
            <td>{{ service.name_service }}</td>
            <td>{{ service.description}}</td>
            <td>{{ service.price }} руб.</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="container mt-3">
    <table class="table table-bordered">
        <colgroup>
            <col style="width: 70%;">
            <col style="width: 15%;">
            <col style="width: 15%;">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">МРТ</th>
            <th scope="col">Артикул</th>
            <th scope="col">Цена</th>
        </tr>
        </thead>

        <tbody>
        {% for service in object_list %}
        {% if service.direction_id == 1 %}
        <tr>
            <td>{{ service.name_service }}</td>
            <td>{{ service.description}}</td>
            <td>{{ service.price }} руб.</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>

    </table>
</div>
<br>
<div class="container mt-3">
    <table class="table table-bordered">
        <colgroup>
            <col style="width: 70%;">
            <col style="width: 15%;">
            <col style="width: 15%;">
        </colgroup>
        <thead>
        <tr>
            <th>УЗИ</th>
            <th>Артикул</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for service in object_list %}
        {% if service.direction_id == 2 %}
        <tr>
            <td>{{ service.name_service }}</td>
            <td>{{ service.description }}</td>
            <td>{{ service.price }} руб.</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}